<p id="notice"><%= notice %></p>

<h1>Brains</h1>

<table>
  <thead>
    <tr>
      <th>Flavor</th>
      <th>Iq</th>
      <th>Fresh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brains.each do |brain| %>
      <tr>
        <td><%= brain.flavor %></td>
          <td><%= brain.Iq %></td>
            <td><% if brain.Fresh %>
            <%= image_tag 'brains/nopodrido.png', class:'brain_fresh' %>
            <%else%>
            <%= image_tag 'brains/podrido.png', class:'brain_fresh' %>
            <%end%>
            </td>
         </tr>
    <% end %>
  </tbody>
</table>

<br>

