<p id="notice"><%= notice %></p>

<p>
  <strong>Flavor:</strong>
  <%= @brain.flavor %>
   <strong>Iq:</strong>
  <%= @brain.Iq %>
   <strong>Fresh:</strong>
  <%= @brain.Fresh %>
</p>

<%= link_to 'Edit', edit_brain_path(@brain) %> |
<%= link_to 'Back', brains_path %>
