
<% if current_admin || current_user == 'Subscriptor' || current_user == 'Editor' %>
<%= form_for @zombie,:html => {:multipart => true} do |f| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :Avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="row">
  <div class="medium-8 columns">
    <div class="row">
      <div class="medium-6 columns">

  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :biografia %>
    <%= f.text_area :bio %>
  </div>
  </div>
 <div class="row">
 <div class="medium-6 columns"> 
  <div class="field">
    <%= f.label :Edad %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :Correo %>
    <%= f.text_field :email %>
  </div>
  </div>
</div>
</div>

  <div class="field">
    <%= f.label :Podrido %>
    <%= f.check_box :rotten %>
  </div>
  
  <div class="field">
   <%= f.hidden_field :user_id %>
  </div>

  <div class="actions">
  
   <%= f.submit "Create", class: "button success"%>
  </div>

 
<% end %>



<% else %>
	<% flash[:error] = "No tienes los permisos necesarios" %>
<% end %>
