<p id="notice"><%= notice %></p>

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
    <th>Avatar</th>
      <th>Nombre</th>
      <th>Biografia</th>
      <th>Edad</th>
      <th>Correo</th>
      <th>Podrido</th>
      <th>Dueño</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rotten_zombies.each do |zombie| %>
      <tr>
       <td><%= image_tag(zombie.avatar_url, :width => 75, :height => 75) if zombie.avatar.present? %></td>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "yes" : "no" %></td>
        <td><%= zombie.user_id ? User.where(id: zombie.user_id)[0].email: "No tiene dueño"%></td>
        <td><%= link_to 'Mostrar', zombie, class:"button"%></td>
        <% if current_admin || current_user.role != 'Suscriptor' %>
        <td><%= link_to 'Editar', edit_zombie_path(zombie),class:"button" %></td>
        <% if current_admin || current_user.role != 'Contribuidor' %>
        <td><%= link_to 'Eliminar', zombie, method: :delete, data: { confirm: 'Estas Seguro?' }, class:"button alert" %></td>
    <% end %>
    <% end %>       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Zombie Nuevo', new_zombie_path, class:"button seccess" %>












