<p id="notice"><%= notice %></p>
 <div class="row">
 <div class="medium-8 columns"> 
  <div class="row">
 <div class="medium-6 columns"> 

<p>
  <%= image_tag(@zombie.avatar_url, :width => 1000, :height => 2000) if @zombie.avatar.present? %>
  </p>

 </div>
 <div class="medium-6 columns"> 

<p>
  <strong>Nombre:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Biografia:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @zombie.email %>
</p>



<p>
  <strong>Podrido:</strong>
  <%= @zombie.rotten %>
</p>

</div>
</div>
</div>
<table>
<thead>
    <tr>
      <th width=25%>Flavor</th>
      <th width=25%>Iq</th>
      <th width=25%>Fresh</th>
      <th width=25%>Agregado</th>
      <th colspan="3"></th>
    </tr>   
  </thead>
</table>  



<div id='brains'>
<% if  current_admin || current_user.role != 'Suscriptor' %>
<%= render :partial => @zombie.brains.reverse %>
</div>


<%= form_for([@zombie, Brain.new],remote:true) do |f| %>

  <div class="field">
  <%= f.label :flavor %>
    <%= f.text_field :flavor %>
    </div>

     <div class="field">
  <%= f.label :Iq %>
    <%= f.number_field :Iq %>
    </div>
     
     <div class="field">
  <%= f.label :fresh %>
    <%= f.check_box :Fresh %>
    </div>

     <div class="actions">
  <%= f.submit "Add Brain",class: "button primary" %>
    </div>
    <% end %>
    <% end %>

    <%= link_to 'Edit', edit_zombie_path(@zombie), class:"button" %> |
    <%= link_to 'Back', zombies_path, class:"button" %>



